* {
    margin: 0;
    padding: 0;
}

body {
    background: url('images/background.jpg') no-repeat center center;
    width: auto;
    height: 100vh;
}

#gc {
    border: 5px solid black;
    padding: 5px;
    width: 600px;
    height: 600px;
}

#game {
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translateX(-50%) translateY(-50%);
}

@media(max-width: 1100px) {
    #game {
        left: 50%
    }
}

@media(max-width: 700px) {
    #gc {
        width: 500px;
        height: 500px;
    }
}

@media(max-width: 550px) {
    #gc {
        width: 330px;
        height: 330px;
    }
    #game {
        left: 50%
    }
}

#game h1 {
    padding-bottom: 20px;
}

#footer {
    background-color: black;
    color: green;
    position: fixed;
    bottom: 0;
    right: 0;
    border: 0.5px solid white;
    margin-right: 10px;
    padding: 5px;
    z-index: 100;
}